@using HelloApplication.Models
@model  List<Message>

@{
    ViewBag.Title = "Гостевая книга";
}

<div id="dialog-confirm" title="Удалить сообщение?" style="display:none">
    <p><span class="ui-icon ui-icon-alert"></span>Вы действительно хотите удалить это сообщение?</p>
</div>

<div id="dialog-error" title="Ошибка" style="display:none">
    <p><span class="ui-icon ui-icon-alert"></span>Произошла ошибка. Возможно сообщение уже не существует</p>
</div>

<h2>@ViewBag.Title</h2>

@Html.Partial("Post", new Message())

<div id="messages">
    @foreach (var message in Model)
    {
        <hr />
        <div id="message_@message.Id">
            @Html.Action("Edit", new { id = message.Id, editView = false })
        </div>
    }
</div>

@{ Html.RenderAction("Paging", "Paging", 
       new { currentPage = ViewBag.CurrentPage, count = ViewBag.Count, controllerName = ViewBag.ControllerName });}
